@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;700&family=Source+Sans+Pro:wght@400;700&family=Niramit:wght@400;700&display=swap");

@font-face {
  font-family: "CHINESETAKEAWAY";
  src: url("../fonts/CHINESETAKEAWAY.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

body {
  height: 100vh;
  overflow: hidden;
}

h1, h2 {
  font-family: Niramit, sans-serif;
  font-weight: bold;
  font-size: 22px;
}

q {
  font-family: Niramit, sans-serif;
  font-weight:lighter;
  font-style: italic;
  font-size: 18px;
}

.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: auto;
  background-size: cover;
  background-position: center;
  margin: 0 auto;
  overflow: hidden;
  z-index: -100;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  text-align: center;
}

.card__rectangle--quote {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  width: 100%;
  height: 100%;
  max-width: 600px; 
  height: auto;
  text-align: center;
  overflow: hidden;
  z-index: 1;
}

.card__rectangle--background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  opacity: 0.8;
  background-size: cover; 
  background-position: center;
}

.card--header {
  animation: bounce 2s linear infinite;
  filter: drop-shadow(-5px 5px 2px rgba(0, 0, 0, 0.3));
  width: 120%;
}

@keyframes bounce {
  0%,
  100% {
    transform: translateY(0);
  }
  20% {
    transform: translateY(5px);
  }
  40% {
    transform: translateY(2px);
  }
  60% {
    transform: translateY(-2px);
  }
  80% {
    transform: translateY(-5px);
  }
}

.card--btn {
  width: 200px;
  height: auto;
  cursor: pointer;
  transition: transform 0.3s ease, ;
}

.card--btn:hover {
  transform: scale(1.1) rotate(5deg);
}

.card--btn:active {
  transform: scale(0.9);
}
