@import url("https://fonts.googleapis.com/css2?family=Niramit:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&display=swap");

@font-face {
  font-family: "CHINESETAKEAWAY";
  src: url("../fonts/CHINESETAKEAWAY.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

#root {
  height: 100vh;
}

body {
  height: 100vh;
  width: auto;
  overflow: hidden;
}

h1,
h2,
h3 {
  font-family: Niramit, sans-serif;
  font-size: 28px;
  font-weight: 700;
}

q {
  font-family: "Niramit", sans-serif;
  font-weight: 400;
  font-style: italic;
  font-size: 24px;
}

.wrapper {
  min-height: 100vh;
  display: grid;
  place-items: center;
  background-size: cover;
  background-position: center;
  margin: 0 auto;
  overflow: hidden;
  z-index: -100;
}

.card {
  display: flex;
  gap: 2em;
  padding: 1em 0;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 0 auto;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-user-select: none;
  user-select: none;
}

.card--heading {
  animation: bounce 2s linear infinite;
  filter: drop-shadow(-5px 5px 2px rgba(0, 0, 0, 0.3));
  width: auto;
  height: 100%;
  display: none;
}

.card--heading-mobile {
  animation: bounce 2s linear infinite;
  filter: drop-shadow(-5px 5px 2px rgba(0, 0, 0, 0.3));
  width: auto;
  height: 100%;
}

.card__rectangle {
  .card__rectangle--body {
    position: absolute;
    width: 90vw;
    height: auto;
    display: inline;
    z-index: -1;
    opacity: 0.9;
  }

  .card__rectangle--quote {
    aspect-ratio: 16 / 9;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90vw;
    height: 20vh;
    text-align: center;
    justify-content: center;
    z-index: 1;
  }
}
.card--btn {
  width: 200px;
  height: auto;
  cursor: pointer;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-user-select: none;
  user-select: none;
  transition: transform 0.3s ease;
}

.card--btn:hover {
  transform: scale(1.1) rotate(5deg);
}

.card--btn:active {
  transform: scale(0.9);
}

@keyframes bounce {
  0%,
  100% {
    transform: translateY(0);
  }
  20% {
    transform: translateY(5px);
  }
  40% {
    transform: translateY(2px);
  }
  60% {
    transform: translateY(-2px);
  }
  80% {
    transform: translateY(-5px);
  }
}

@media (min-width: 600px) {
  body {
    overflow: scroll;
  }

  h1,
  h2,
  h3 {
    font-size: 40px;
  }

  q {
    font-size: 32px;
    font-style: italic;
  }

  .card {
    gap: 6em;
    padding: 1.5em;
    width: 50vw;
    height: auto;
  }

  .card__rectangle--quote {
    height: 10vh;
    width: auto;
  }

  .card__rectangle--body {
    width: 60vw;
    height: auto;
  }

  .card--btn {
    width: 25vw;
  }

  .card--heading {
    display: inline-block;
  }

  .card--heading-mobile {
    display: none;
  }
}
